.footer{
    background-image: url(../img/Bg-footer1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.our_contacts-list{
    padding: 150px 100px 60px;
    display: flex;
    gap: 60px;
}
.line{
    color: #5D6544;
    height: 1px;
}