.header {
    background-image: url(../img/Bitmap1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding-bottom: 280px;
    width: 100vw;
}

.nav {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px;
    
    max-height: 43px;
    padding-top: 24px;
    padding-bottom: 124px;
}

.header_text {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;

}

.header_title {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
    text-align: left;
    color: #FFFFFF;
}
.header_information{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.header_information_link{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #FFD723;
    cursor: pointer;
}