.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    }
    .title {
    font-size: 24px;
    margin-bottom: 10px;
    }
    .content {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
    }
    .strategy {
    font-weight: bold;
    background-color: #f0f0d6;
    padding: 2px 5px;
    }
    .text {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: right;
    }
    .text img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }
    .name {
    font-weight: bold;
    color: #333;
    }