<section class="client">
    <a class="client-link" href="#"><img class="client-img" src="../img/16_Andrew-Porter-Logo.svg" alt="andrew porter"></a>
    <a class="client-link" href="#"><img class="client-img" src="./img/Jalen-Rose-Leadership-Academy-Logo.svg" alt="Jalen Rose"></a>
    <a class="client-link" href="#"><img class="client-img" src="" alt=""></a>
    <a class="client-link" href="#"><img class="client-img" src="" alt=""></a>
    <a class="client-link" href="#"><img class="client-img" src="" alt=""></a>
</section>