<section class="client">
    <a class="client-link" href="#"><img class="client-img" src="img/16_Andrew-Porter-Logo.png" alt="andrew porter"></a>
    <a class="client-link" href="#"><img class="client-img" src="img/17_Jalen-Rose-Leadership-Academy-Logo.png" alt="Jalen Rose"></a>
    <a class="client-link" href="#"><img class="client-img" src="img/Wal.png" alt="wall-bridge"></a>
    <a class="client-link" href="#"><img class="client-img" src="img/Ideal.png" alt="ideal"></a>
    <a class="client-link" href="#"><img class="client-img" src="img/PhalenLeadership.png" alt="PhalenLeadership"></a>
</section>