<footer class="footer">
    <div class="container">
    <ul class="our_contacts-list">
        <li class="our_contacts-list-item">
<h3 class="contact-title">Phone</h3>
<p class="contact-onfo">+32 50 31 28 32</p>
        </li>
        <li class="our_contacts-list-item">
         <h3 class="contact-title">Address</h3>
         <p class="contact-onfo">491 Merlin Crest Suite 963</p>   
        </li>
    </ul>
    <div class="line"></div>
    <div class="about-us">
<ul class="about-us-list">
    <li class="about-us-list-item">
        <h3 class="about-us-title">Services</h3>
        <a href="#">Strategy Design</a>
        <a href="#">Product Design</a>
        <a href="#">Content Strategy</a>
        <a href="#">Brand Strategy</a>
        <a href="#">Development </a>
    </li>
    <li class="about-us-list-item">
        <h3 class="about-us-title">Help And Advice</h3>
        <a href="#">How it works</a>
        <a href="#">Contact Support</a>
        <a href="#">Privacy Policy</a>
        <a href="#">FAQ</a>
    </li>
    <li class="about-us-list-item">
        <h3 class="about-us-title">Company</h3>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Contact</a>
        <a href="#">Jobs</a>
    </li>
</ul>
    </div>
    <div class="footer-right">
        <div class="footer-right-top">
            <h3 class="footer-right-top-title">Get in Touch</h3>
            <p class="footer-right-top-title">Feel free to get in touch with us vai email</p>
        </div>
        <div class="footer-right-bottom">
            <a class="reline__mail" href="mailto:info.webovio@gmail.com">info.webovio@gmail.com</a>
            <ul class="footer-social-list">
                <li class="footer-social-item"><a class="social-link" href="#"></a></li>
                <li class="footer-social-item"><a class="social-link" href="#"></a></li>
                <li class="footer-social-item"><a class="social-link" href="#"></a></li>
                <li class="footer-social-item"><a class="social-link" href="#"></a></li>
            </ul>
        </div>
    </div>
    <div class="line"></div>
    <div class="footer-bottom">
        <div class="footer-bottom-info">
            <a class="logo_footer" href="./footer.html"><img src="img/logo-footer.png" alt="logo footer"></a>
            <p class="footer-bottom-text">© 2020@webovio. All Rights Reserved.</p>
        </div>
    </div>
</div>
</footer>