<header  >
  <div class="container">
    <div class="nav">
      <a href="header.html"><img src="img/Logo.png" alt="logo_header"></a>
      <div class="nav_menu"></div>
    </div>
    <div class="header_information">
      <p class="header_text">A place where</p>
      <h1 class="header_title">A creative agency <br> for redemptive <br> brands</h1>
      <p class="header_text">Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.</p>
      <a class="header_information_link" href="#">  Get in touch</a>  
    </div>
  </div>
</header>