<div class="container">
                <div class="image">
              <img src="/src/img/Bitmap.png" alt="#">
                </div>
    </div>
    <div class="section">
        <h2> Is this the future of 
            Online Booking</h2>
        <p>You should be able to find several indispensable facts about motivation in the following paragraphs. 

            If there’s at least one fact you didn’t know before, imagine the difference it might make.</p>
        <div class="oval">
            <img src="/src/img/Oval (4).png" alt="#">
            <div class="content">
              <p>“Exhibit Systems is not a provider. They are not a supplier. They are a partner with expertise in making trade shows effective.”</p>
                <h1>Eunice Oliver</h1>
                <h2>Founder & CEO, Zeem</h2>
            </div>
        </div>
    </div>

</div>
