<div class="container">
    <div class="left-section">
        <h1>We Have Some Awesomr Project.</h1>
        <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s.</p>
        <div class="image-container">
            <img src="/img/Image (4).png" alt="#">
        </div>
    </div>
    <div class="right-section">
        <h2>The wall new Balenciaga.com</h2>
        <p>This article is hosted online with an aim to help you find the best DVD printing solution. DVD printing is an important feature used by large and small DVD production houses to print information on DVDs.</p>
        <div class="oval">
            <img src="/img/Oval (1).png" alt="#">
            <div class="content">
                <p>“In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”</p>
                <strong>Angel Armstrong</strong><br>
                <small>Founder & CEO, Google</small>
            </div>
        </div>
    </div>
</div>