<body>
    <div class="container">
        <div class="title">What we do for you</div>
        <div class="content">
            <h1 class="strategy">Strategy. Design  Content. Technology Development </h1>
            <p>There’s no secret sauce, no wizard behind the curtain. What makes Aerolab tick is an interdisciplinary team with a framework that fosters candid collaboration.</p>
            <a href="#">More know About us</a>
        </div>
        
        <div class="text">
            <p>
            With More than 10 Years of Knowledge and Expertise we Design and Code Websites and Apps, We Build Brands and Help Them Succeed
            </p>
            <img src="" alt="#">
            <p class="name">Genevieve Rodriquez</p>
            <p>Founder & CEO, Webovio</p>
        </div>
    </div>
</body>